 @import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Roboto&display=swap');

body{
  background-color: #1b2849;
  margin: 0;
  padding: 0;
  color: #f0f0f0;
  font-family: 'Hubballi', cursive;
  font-size: 30px;
}

button img{
  width: 50%;
}

button{
  height: 200px;
  width: 200px;
  margin: 0px 50px;
}

.buttons button{
  transition-duration: 500ms;
}

.initial{
  height:1px;
  width: 1px;
  margin: 0;
  opacity: 0;
}

.buttons{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 200px;
}

.buttons.grid{
  display:grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 350px 350px 350px;
}

.choosed#paper{
  transition-property: width, height, margin;
  transition-duration: 2s;
  height: 220px;
  margin: 0 200px;
  width: 230px;
  flex: 0 0 auto;
}

.choosed#rock{
  transition-property: width, height, margin;
  transition-duration: 2s;
  height: 220px;
  margin: 0 200px 0 50px;
  width: 230px;
  flex: 0 0 auto;
}

.choosed#scissor{
  transition-property: width, height, margin;
  transition-duration: 2s;
  height: 220px;
  margin: 0 50px 0 200px;
  width: 230px;
  flex: 0 0 auto;
}

.notchoosed{
  transition-property: opacity, margin;
  transition-duration: 2s;
  opacity: 0;
  margin: 0;
}

.computer-play{
  opacity: 0;
  transform: translateY(-40px);
  height: 220px;
  width: 23%;
}

.computer-play.animated{
  transition: 2s;
  opacity: 1;
  position: static;
  transform: translateY(0);
}
